body{
    background-image:url('../img/cover.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h2{
    background: linear-gradient(to left, whitesmoke, purple);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-left: 50%;
    margin-right: 50%;
}
p{
    background: linear-gradient(to right, whitesmoke, purple);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

















/* body{
    background-color: rgb(10, 8, 8);
}
h2{
    color: white;
    border-top: dotted ;
    border-bottom: dotted;
    border-left-width: 10px;
    border-left-style: double;
}

p{
    color:whitesmoke;
    border-style: solid ;
    border-color: gold;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin-left: none;
    margin: 10px;
} */